body{
    background-image: url(../images/bg.jpeg);
}
.box{
    background: rgba(255,255,255,0.9);
    margin-top: 20px;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.title{
    text-align: center;
    line-height: 2;
    font-size: 40px;
}
.people{
    font-size: 16px;
    line-height: 1.2;
}
.filter{
    width: 100%;
    margin: 0 auto;
    padding-top:20px;
    padding-bottom: 20px;
}
.filter .s{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
    height: 46px;
    border-radius: 20px;
    padding-left: 10px;
}
.filter .s:focus{
    border: 5px solid rgb(225, 156, 156);
}
.filter .f{
    margin-top: 10px;
    width: 43.5px;
    height: 26px;
}
.sel{
    width: 60%;
    margin: 0 auto;
}
.btn{
    padding-top: 10px;
    width: 60%;
    margin: 0 auto;

}
.btn>button{
    width: 100%;
    height: 30px;
    background: transparent;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 24px;
}
.btn>button:hover{
    cursor: pointer;
    background: rgb(225, 156, 156);
    border: 1px solid rgb(225, 156, 156);
    color: white;
}
.result{
    color: black;
    width: 85%;
    margin: 0 auto;
}
.result-title{
    text-align: center;
    line-height: 2;
    font-size: 32px;
}
.table{
    width: 85%;
    margin: 0 auto;
    font-size: 15px;
}
.table tr{
    border-bottom: 1px solid gray;
}
.img{
    position: fixed;
    width:350px;
    top:0;
    right: 1px;
}
.img2{
    position: fixed;
    width:350px;
    top:0;
    left:40px;
}
.img>img{
    width: 100%;
}
.img2>img{
    width: 100%;
}
.github{
    position: absolute;
    top: 240px;
    right: 160px;
    
}
.github img{
    width: 50px;
    z-index: 1000;
}
.github img:hover{
    cursor: pointer;
}
.info{
    display: none;
}
.back{
    display: none;
}
@media screen and (max-width:475px) {
    .box{
        width:100%;
    }
    .title{
        font-size: 28px;
    }
    .img,.img2{
        display: none;
    }
    .people{
        font-size: 12px;
    }
    .filter{
        padding-top:5px;
        padding-bottom: 5px;
    }
    .filter .s{
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
        font-size: 14px;
        height: 30px;
        border-radius: 10px;
        padding-left: 5px;
    }
    .btn{
        padding-top: 5px;
        width: 75%;
    }
    .btn>button{
        height: 30px;
        border-radius: 10px;
        font-size: 14px;
    }
    .result-title{
        text-align: center;
        line-height: 2;
        font-size: 28px;
    }
    .table{
        width: 100%;
        margin: 0 auto;
        font-size: 12px;
    }
    .sel{
        width: 75%;
    }
    .info{
        display: block;
        position: fixed;
        top: 25%;
        right:2px;
        width: 25px;
    }
    .info img{
        width: 100%;
    }
    .back{
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background: brown;
        text-align: center;
        line-height: 30px;
        font-size: 5px;
        position: fixed;
        bottom: 2%;
        right: 2px;
    }
    .back a{
        text-decoration: none;
        color: white;
    }
}