<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>

<title>112 學測甄試查詢一覽表</title>
<meta name="author" content="SCLemon">
<meta name="description" content="為即將來臨的學測做準備，理解自己的夢想科系與門檻，在最後的衝刺旅程勇往直接！！歡迎使用本系統查詢理想科系，預祝考生學測順利！！">
<meta name="keywords" content="112學測,大學學測,學測查詢,學測查詢系統">

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="👨‍💻 112 學測甄試查詢一覽表">
<meta name="twitter:description" content="為即將來臨的學測做準備，理解自己的夢想科系與門檻，在最後的衝刺旅程勇往直接！！歡迎使用本系統查詢理想科系，預祝考生學測順利！！">
<meta name="twitter:site" content="@">
<meta name="twitter:creator" content="@">
<meta name="twitter:image" content="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fstudy%2F&psig=AOvVaw29fVoLN7bH10qsxMH7PZVU&ust=1672495631339000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCIijyfHBofwCFQAAAAAdAAAAABAE">

<!-- Open Graph general (Facebook, Pinterest)-->
<meta property="og:title" content="👨‍💻 112 學測甄試查詢一覽表">
<meta property="og:description" content="為即將來臨的學測做準備，理解自己的夢想科系與門檻，在最後的衝刺旅程勇往直接！！歡迎使用本系統查詢理想科系，預祝考生學測順利！！">
<meta property="og:url" content="https://sc1314520.github.io/GSAT-112/">
<meta property="og:site_name" content="sc1314520.github.io">
<meta property="og:type" content="website">
<meta property="og:image" content="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fstudy%2F&psig=AOvVaw29fVoLN7bH10qsxMH7PZVU&ust=1672495631339000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCIijyfHBofwCFQAAAAAdAAAAABAE">

<link rel="apple-touch-icon" sizes="57x57" href="ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="ico/favicon-16x16.png">
<link rel="manifest" href="ico/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="ico/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">




<!-- CSS -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/vue.js"></script>
    <script src="js/jquery2.2.3.min.js"></script>
    <script src="js/suggest.js"></script>
    <link rel="icon" href="images/cat-svgrepo-com.svg">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/suggest.css">
    <style>
        
    </style>
    <title>學測二階甄試資源分享</title>
</head>
<body>
    <div class="box" id="box" v-cloak>
        <div class="title" id="title">
            <h1>學測二階甄試查詢 <div class="people">造訪人數：<span v-text="people"></span></div></h1>
            <div class="ar" id="ar">
                <img src="images/arrow.png" alt="前往檢定查詢頁面" title="前往檢定查詢頁面">
            </div>
        </div>
        <div class="result" v-cloak>
            <div class="result-title">
                <table class="table">
                    <tr>
                        <th width="30%">學校名稱</th>
                        <th width="30%">申請科系</th>
                        <th width="30%">造訪資源</th>
                    </tr>
                    <tr v-for="t in table">
                        <th>{{t.schoolName}}</th>
                        <th>{{t.department}}</th>
                        <th><button class="open-btn" @click="insert(t)">查看更多</button></th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="open" v-if="flag">
            <div class="content">
                <div class="ct">
                    <div>學校：<span v-text="obj.schoolName"></span></div>
                    <div>科系：<span v-text="obj.department"></span></div><br>
                </div>
                <div class="ct2">
                    <p>考試方式：</p>
                    <div class="ct2-c" v-text="obj.condition"></div>
                </div>
                <div class="ct2">
                    <p>面試情況：</p>
                    <div class="ct2-c" v-text="obj.level"></div>
                </div>
                <div class="ct2">
                    <p>面試問題：</p>
                    <div class="ct2-c" v-text="obj.question"></div>
                </div>
                <div class="ct2">
                    <p>給學弟妹的話：</p>
                    <div class="ct2-c" v-text="obj.feedback"></div>
                </div>
            </div>
            <div class="close">
                <button @click="close()">關閉</button>
            </div>
        </div>
    </div>
    

    </div>
    <div class="img">
        <img src="images/cat2.png" alt="">
        <div class="github">
            <img src="images/github.png" onclick="location.href='https://github.com/sc1314520/GSAT-112'" alt="前往 GitHub">
        </div>
    </div>
    <div class="img2">
        <img src="images/cat2.png" alt="">
        <div class="github">
            <img src="images/Instagram_icon.png.webp" onclick="location.href='https://www.instagram.com/yoyoyomath/'" alt="前往 Instagram">
        </div>
    </div>
    <!-- 手機版 -->
    <div class="info">
        <div class="icon">
            <img src="images/github.png" onclick="location.href='https://github.com/sc1314520/GSAT-112'" alt="前往 GitHub">
        </div>
        <div class="icon">
            <img src="images/Instagram_icon.png.webp" onclick="location.href='https://www.instagram.com/yoyoyomath/'" alt="前往 Instagram">
        </div>
    </div>
    <div class="back">
        <a href="#title">TOP</a>
    </div>
</body>
<script src="https://kit.fontawesome.com/026fbb8b51.js" crossorigin="anonymous"></script>
</html>